#apply {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#apply .title {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Noto Serif KR', serif;
    text-align: center;
}

#apply .sub-title {
    color: #f6c350;
    font-weight: 400;
    text-align: center;
}

#apply .title-desc {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Noto Serif KR', serif;
    color: #f6c350;
    text-align: center;
    margin-bottom: 2rem;
}

#apply .apply-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#apply .apply-input {
    margin-bottom: 1.5rem;
}

#apply .apply-button {
    width: 100%;
}

#apply .apply-img {
    /* width: 40rem; */
    width: 60%;
    opacity: 0.6;
}

#apply .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

@media all and (min-width: 1023px) {
    #apply .form-container {
        width: 60%;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    #apply .form-container {
        width: 70%;
    }
}

@media all and (max-width: 767px) {
    #apply .form-container {
        width: 100%;
    }
}
