.footer {
    background-color: black;
    color: #fff;
}

@media all and (min-width: 1023px) {
    .footer {
        padding: 1rem 10rem;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        padding: 1rem 4rem;
    }
}

@media all and (max-width: 767px) {
    .footer {
        padding: 1rem 2rem;
    }
}

.footer .logo-img {
    width: 125px;
    height: 50px;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit 표준 X */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE 표준 X */
}

.footer .content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer .content-text {
    width: 30rem;
}

.footer .icon-wrap {
    width: 6rem;
}

.footer .link {
    color: #fff;
}
.footer .icon {
    width: 3rem;
    height: 3rem;
}
