.footer {
    background-color: #f6c350;
}

@media all and (min-width: 1023px) {
    .footer {
        padding: 2rem 10rem;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        padding: 1rem 4rem;
    }
}

@media all and (max-width: 767px) {
    .footer {
        padding: 1rem 2rem;
    }
}

.footer .logo-img {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit 표준 X */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE 표준 X */
}

.footer .content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer .content-text {
    font-size: 0.8rem;
}

.footer .logo-text {
    font-family: 'Noto Serif KR', serif;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}
.footer .bold-text {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}
.footer .content-text > p {
    margin-bottom: 0.2rem;
}

.footer .line {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem 0rem;
    width: 100%;
    border-top: 0.5px solid #4d4d4d;
    align-items: flex-end;
}
.footer .link-wrap {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Noto Serif KR', serif;
    font-size: 0.9rem;
}

.footer .link {
    color: #4d4d4d;
    transition: all 0.2s ease-in-out;
}

.footer .link:hover {
    color: #fff;
    transform: scale(0.95);
}
