@import 'header.css';
@import 'footer.css';

@import 'intro.css';
@import 'why.css';
@import 'about.css';
@import 'review.css';
@import 'apply.css';
@import './../../public/static/fonts/style.css';

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

@media (min-width: 1023px) {
    :root {
        font-size: 1em;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    :root {
        font-size: 0.85em;
    }
}

@media all and (max-width: 767px) {
    :root {
        font-size: 0.75em;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Pretendard';
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

@media all and (min-width: 1023px) {
    .main {
        padding: 10rem;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .main {
        padding: 4rem;
    }
}

@media all and (max-width: 767px) {
    .main {
        padding: 2rem;
    }
}

.element {
    width: 100%;
    padding-top: 6rem;
}

.element:first-child {
    padding-top: 8rem;
}
