@import 'header.css';
@import 'footer.css';

@import 'intro.css';
@import 'why.css';
@import 'about.css';
@import 'review.css';
@import 'apply.css';
@import './../../public/static/fonts/style.css';

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

@media (min-width: 1023px) {
    :root {
        font-size: 1em;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    :root {
        font-size: 0.85em;
    }
}

@media all and (max-width: 767px) {
    :root {
        font-size: 0.75em;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Pretendard';
    word-break: keep-all;
    color: #4d4d4d;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.element {
    width: 100%;
}

span {
    color: #f6c350;
}

@media all and (min-width: 1023px) {
    #apply {
        padding: 4rem 10rem;
    }

    #intro {
        padding: 10rem 10rem 4rem;
    }
    #why,
    #about,
    #review {
        padding: 2rem 0rem 0rem;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    #apply {
        padding: 4rem 4rem;
    }

    #intro {
        padding: 8rem 4rem 2rem;
    }
    #why,
    #about,
    #review {
        padding: 2rem 0rem 0rem;
    }
}

@media all and (max-width: 767px) {
    #apply {
        padding: 2rem 2rem;
    }

    #intro {
        padding: 8rem 2rem 2rem;
    }
    #why,
    #about,
    #review {
        padding: 2rem 0rem 0rem;
    }
}
