#intro {
    display: flex;
    flex-direction: column;
}
#intro .title {
    width: inherit;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Noto Serif KR', serif;
}

#intro .sub-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
    font-family: 'Noto Serif KR', serif;
}

#intro .content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#intro .desc-wrap {
    display: flex;
    flex-direction: column;
}

#intro .desc {
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

#intro .analysis {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

#intro .analysis .item-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro .analysis .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro .analysis .item-title {
    font-size: 0.8rem;
}

#intro .analysis .item-value {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}

#intro .intro-img {
    display: block;
    width: 120rem;
}

#intro .apply-button {
    width: 13rem;
}

@media all and (min-width: 1023px) {
    #intro .intro-img {
        display: block;
    }

    #intro .analysis .item-wrap {
        width: 30%;
        align-items: flex-start;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
    #intro .intro-img {
        display: block;
    }

    #intro .analysis .item-wrap {
        width: 100%;
        align-items: flex-start;
    }
}

@media all and (max-width: 767px) {
    #intro .intro-img {
        display: none;
    }

    #intro .analysis .item-wrap {
        width: 100%;
        align-items: center;
    }
}
