#intro {
    display: flex;
    flex-direction: column;
}
#intro .title {
    width: inherit;
    font-size: 2.5rem;
    font-weight: 700;
}

#intro .sub-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#intro .content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#intro .content-wrap .desc-wrap {
    flex: 0.7;
}

#intro .content-wrap .desc-img {
    flex: 0.3;
}

#intro .desc-wrap {
    display: flex;
    flex-direction: column;
}

#intro .desc-wrap .desc {
}

#intro .desc-wrap .analysis {
}
