#review .title {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Noto Serif KR', serif;
    text-align: center;
    margin-bottom: 1rem;
}

#review .sub-title {
    font-family: 'Noto Serif KR', serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4rem;
    color: #808080;
}

#review .item-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#review .item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#review .item-img-wrap {
    width: 14.5rem;
    height: 14.5rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    margin-bottom: 0.5rem;
}

#review .item-img-wrap .item-img {
    /* transition: all 0.2s ease-in-out; */
}

#review .item-img-wrap .item-img:hover {
}

#review .review-container {
    width: 100%;
    background-color: #fff4d8;
}

@media all and (min-width: 1023px) {
    #review .review-container {
        padding: 10rem 10rem;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    #review .review-container {
        padding: 7rem 4rem;
    }
}

@media all and (max-width: 767px) {
    #review .review-container {
        padding: 7rem 2rem;
    }
}
